
label.small {
    display: block;
    font-variant: small-caps;
    font-size: small;
    text-align: left;
}

input[type=text] {
    width: 100%;
    padding: 0.2em;
}

input.gap {
    margin: 0 0 1em 0;
}

section.loginform {
    
    height: 100%;
    display: flex;
    padding-top: 2em;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    label {
        display: block;
        font-variant: small-caps;
        font-size: small;
    }

    input {
        width: 100%;
    }

    form {
        ul {
            list-style: none;
            padding: 0
        }
    }
}