# OS
.DS_Store
public/js

# Generated
.sass-cache
build

# Modules
node_modules

# Environment
.env

#ignore backups
storage/backups/backup*

#ignore extracted dump file
dump.rdb

# database files
*.sqlite
!blank.sqlite

npm-debug.log