# OS
.DS_Store
public/js

# Generated
.sass-cache
.vscode/chrome
build
bin

# Modules
node_modules

# Environment
.env

#ignore backups
storage/backups/backup*

#ignore extracted dump file
dump.rdb

# database files
*.sqlite
*.sqlite-journal
!blank.sqlite

npm-debug.log
