i.big-icon {
    font-size: 100pt;
}

#select-entity-type {
    text-align: center;
    transform: translateY(100%);

    label {
        font-family: 'Roboto', sans-serif;
    }
}

#entity-editor {

    flex-direction: row;

    #sidebar {
        background-color: #3f51b5;
        flex: 0 0 20em;
        padding: 0.5em 1em;
    }

    #workspace {
        flex: 1;
        padding: 0.5em 1em;
    }
}