#entity-editor {

    flex-direction: column;
    background-color: #97929c;

    #workspace {
        flex: 1;
        padding: 0.5em 1em;
    }
}

table.record-editing-table {
    width: 100%;
    text-align: left;
}