section.loginform {
    
    height: 100%;
    display: flex;
    padding-top: 2em;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    label {
        display: block;
        font-variant: small-caps;
        font-size: small;
    }

    input {
        width: 100%;
    }

    form {
        ul {
            list-style: none;
            padding: 0
        }
    }
}