@import 'sidebar'; 
@import 'workspace'; 
@import 'combo_dropdown';
@import 'overlay';
@import 'modals';
@import 'record_editor';
@import 'source_editor';

.score-picker.editing  {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.score-picker.editing > i {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  cursor: pointer;
}
.score-picker.editing  > i:hover:before,
.score-picker.editing  > i:hover ~ i:before {
    content: "\f005";
    color: #e3cf7a;
}