@import 'sidebar'; 
@import 'workspace'; 
@import 'combo_dropdown';
@import 'overlay';
@import 'modals';
@import 'record_editor';
@import 'source_editor';
@import 'date_picker';
@import 'same_as';

.score-picker.editing  {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.score-picker.editing > i {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  cursor: pointer;
}
.score-picker.editing  > i:hover:before,
.score-picker.editing  > i:hover ~ i:before {
    content: "\f005";
    color: #e3cf7a;
}

input.text-edit-header {
    background-color: rgba(255,255,255,0.8);
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Roboto';
    padding: 0.2em;
}

.editable-paragraph-box {
    cursor: pointer;
    padding: 0.4em 0.4em;
    border: 1px solid #d5d5d5;
    background-color: #f2f2f2;
    p {
      margin :0
    }
}