
.combo-dropdown {

    position: relative;

    .clear-button {
        position: absolute;
        top: 1.1em;
        right: 0.8em;
        opacity: 0.5;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }

    .dropdown {
        padding: 0em;

        box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.44);
        border: 1px solid #999;

        position: absolute;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 10;

        ul {
            margin: 0;
            list-style: none;
            padding: 0;
            
            li {
                cursor: pointer;
                padding: 1em;
                border-bottom: #e2e2e2 1px solid;

                &:hover {
                    background-color: #f1f1f1;
                }

                &:last-child {
                    border-bottom: none;
                }

                &.add {
                    background-color: #bbe2bb;
                }                    
            }
        }
    } 

    .search-input {
        width: 100%;
        padding: 1em;
    }

    &.compact {

        .clear-button {
            right: 0.4em;
            top: 0.4em;
        }

        .search-input {
            padding: 0.2em;
        }
        
        .dropdown ul li {
            padding: 0.2em;
        }
    }
}  
