.toast {
    position: fixed;
    width: 14em;
    height: 4em;
    bottom: 1em;
    right: 1em;
    background-color: red;
    padding: 1em;
    cursor: pointer;
    opacity: 0.9;

    .title {
        font-weight: bold;
    }
} 
 
