.toast {
    position: fixed;
    width: 18em;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 0px 2px 2px;
    height: 4em;
    bottom: 1em;
    right: 1em;
    background-color: #ea5a5a;
    border-radius: 3px;
    color: white;
    padding: 1em;
    cursor: pointer;
    opacity: 1;

    .title {
        font-weight: bold;
    }
} 
 
