.workspace-outer-wrapper {
    flex-direction: column;
}

.header-colour {
    height: 0.2em;
    background-color: red;
    &.records {
        background-color: $records_colour;
    }

    &.entity_type {
        background-color: $types_colour;
    }

    &.source {
        background-color: $source_colour;
    }

    &.entity {
        background-color: $entity_colour;
    }

    &.predicate {
        background-color: $predicate_colour;
    }
}

.workspace-editor {
    //padding: 1em 2em;
    max-width: 1060px;
    margin: 0 auto;
    background-color: white;
    overflow-y: auto;
    flex: 1;
    position: relative;
    // @media screen and (max-width: 1444px) {
    //     width: 100%;
    // }
}

.predicate-function-description {

    display: flex;
    text-align: center;

    .domain {
        flex: 1;
    }
    .arrow {
        flex: 0 0 3em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .range {
        flex: 1;
    }
}

.editor-header {
    display: flex;
    flex-direction: column;
    padding: 1em 2em 0;

    i.fa.fa-pencil-square-o {
        font-size: 1em;
    }

    i.item-icon {
        padding-right: 0.5em;
        opacity: 0.5;
    }

    &.records {
        background-color: rgba($records_colour, 0.2);
        border-bottom: 2px solid $records_colour;
    }

    &.entity_type {
        background-color: rgba($types_colour, 0.2);
        border-bottom: 2px solid $types_colour;
    }

    &.source {
        background-color: rgba($source_colour, 0.2);
        border-bottom: 2px solid $source_colour;
    }

    &.entity {
        background-color: rgba($entity_colour, 0.2);
        border-bottom: 2px solid $entity_colour;
    }

    &.predicate {
        background-color: rgba($predicate_colour, 0.2);
        border-bottom: 2px solid $predicate_colour;
    }

    i {
        font-size: x-large;
    }
    h2 {
        display: inline;
    }

    .primary-toolbar {
      display: flex;
      flex-direction: row;
      .main-toolbar {
          flex: 1
      }
      .sub-toolbar {
          i {
              padding: 0 0.2em;
          }
      }
    }

    .secondary-toolbar {
      .tab-bar {
        display: flex;
        &>div {
          padding: 0.2em;
          margin: 0.2em;
          margin-bottom: 0;
          margin-top: 0.6em;
          font-size: smaller;
          font-variant: small-caps;
          font-family: 'Roboto', sans-serif;
          cursor: pointer;
          user-select: none;

          @each $profile, $bgcolor in $item_colours {
          #{'&.' + $profile} {
              &.selected {
                background-color: darken($bgcolor, 0.2);
              }

                &:hover:not(.selected) {
                  background-color: rgba(0,0,0,0.2);
                }
            }
          }
        }
      }
    }

}

.editor-body {
    padding: 1em 2em;
}
